{% extends "base.html" %}
{% block content %}
						<section id="intro">
								<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
								<header>
									<h2>{{param["title"]}}</h2>
									<p>Kitchen Experiments and Edible Adventures</p>
								</header>
						</section>

						<!-- Post -->
							{% for i in data %}
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="{{url_for('post', slug=i.slug)}}">{{ i.title }}</a></h2>
										<p>{{ i.subtitle }}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{ i.date }}</time>
										<a href="#" class="author"><span class="name">{{ i.author }}</span><img src="{{url_for('static', filename = 'images/avatar.jpg')}}" alt="" /></a>
									</div>
								</header>
								<a href="{{url_for('post', slug=i.slug)}}" class="image featured"><img src="{{ i.image }}" alt="" /></a>
								<p>{{ i.content1 }}</p>
								<footer>
									<ul class="actions">
										<li><a href="{{url_for('post', slug=i.slug)}}" class="button large">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
							{% endfor %}
							<ul class="actions pagination">
								{% if previous == "#" %}
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="{{next}}" class="button large next">Next Page</a></li>
								{% elif next == "#" %}
								<li><a href="{{previous}}" class="button large previous">Previous Page</a></li>
								<li><a href="#" class="disabled button large next">Next Page</a></li>
								{% else %}
								<li><a href="{{previous}}" class="button large previous">Previous Page</a></li>
								<li><a href="{{next}}" class="button large next">Next Page</a></li>
								{%endif%}
							</ul>
{% endblock %}